html{
  --color-primary: #F1CDB3;
  --grey-bg: #F6F6F6;
  --white-bg: #FFFFFF;
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) no-repeat;  
  /*delete gradient from bg?*/
}

/*header*/

header{
  width: 1280px;
  margin: 0 auto;
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) no-repeat;  
}
.wrap{
  margin: 0 auto;
  width: 1200px;
  padding-left: 2px;
}

ul{
  list-style-type: none;
}
li{
  margin-left: 32px;
  display: inline;
}
a{
  text-decoration: none;
  color: inherit;
}
.main_menu{
  margin-top: 60px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.main_title{
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: var(--color-primary);
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}
.main_title_text{
  margin: 0 auto;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.nav_text{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}
.nav_text:hover{
  color: #FAFAFA;
}
.nav_text:active{

}

/*not only*/
.section_not_only{
  /*height: 728px;*/
  /*margin-bottom: 80px;*/
}
.inside_wrap_not_only{
  display: flex;
  /*flex-direction: row;*/
  /*flex-wrap: nowrap;*/
}

/*.content_not_only{
  padding: 163px, 42px, 243px, 0;
}*/

.main_text_not_only{
  /* display: flex; */
  flex-direction: column;
  width: 460px;
  height: 322px;
  margin-right: 39px;
}

.not_only_title{
  margin-top: 165px;
  /* margin-left: 2px; */
  margin-bottom: 40px;
  width: 310px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.not_only_main{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #CDCDCD;
  margin-bottom: 43px;
  /* margin-right: 30px; */
}

.puppy{
  background: url(../../assets/images/start-screen-puppy.png) no-repeat;
  width: 698px;
  height: 728px;
}

.make_a_friend{
  width: 207px;
  height: 52px;
  background: var(--color-primary);
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

/*about*/

main{
  margin: 0 auto;
  width: 1280px;
}

.about_bg{
  height: 508px;
  background: #FFFFFF;
  padding-top: 80px;
}
.wrap_about{
  width: 850px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.pets{
  width: 300px;
  height: 408px;
  background: url(../../assets/images/about-pets.png);
}
.about_content{
  width: 430px;
}
.about_content_title{
  width: 370px;
  margin-top: 13px;
  margin-bottom: 25px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.abouy_content_text{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #4C4C4C;
  margin-bottom: 25px;
}

/*pets*/

.section_pets{
  height: 797px;
  background: #F6F6F6;
  padding-top: 80px;
}

.inside_section_pets{
  margin: 0 auto;
  width: 1200px;
  height: 697px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_pets_title{
  /* width: 400px; */
  /* display: flex; */
  flex-direction: column;
  /* align-items: center; */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  white-space: nowrap;
  margin-bottom: 59px;
}

.section_pets_titles_styles{
  margin-top: 0;
  margin-bottom: 0px;
}

.slider{
  width: 1200px;
  height: 435px;
  /*border: 2px solid red;*/
  margin-bottom: 60px;
}
/*card*/
.card{
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  border-radius: 9px;
}

.image{
  margin-bottom: 6px;
}

.card_title{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 30px;
}

.card_button{
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: #FAFAFA;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.cards{
  margin: 0 auto;
  width: 990px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button_pets{
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border: #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia';
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 17px;
  /* line-height: 130%; */
  letter-spacing: 0.06em;
  /* color: #292929; */
}

/*section how*/

.help{
  background: #FFFF;
}

.wrap_help{
  height: 611px;
  display: grid;
  justify-items: center;
}

.help_title{
  width: 308px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: -3px;
  margin-top: 21px;
}
.rows{
  width: 1182px;
  /* height: 284px; */
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;*/
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  /*column-gap: 120px;*/
  /*grid-gap: 120px;*/
  /*grid-template-rows: 50px;*/
}

.help_item_title{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.help_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0, 60px;

  /*display: grid;
  justify-content: center;
  align-content: center;*/
}

.help_item_size_top{
  grid-column: span 4;
}

.help_item_size_bottom{
  grid-column: span 5;
}

/*addition*/

.addition{
  background-color: var(--grey-bg);
}

.addition_container{
  width: 71.6%;
  margin: auto;
  display: flex;
}

.addition_main_content_title{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.bank{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.card{
  width: 349px;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
}

.card_ico{
  margin: 0 15px;
}

.card_number{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.addition_main_conten_main_text{
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #B2B2B2;
}

