html{
  --color-primary: #F1CDB3;
  --grey-bg: #F6F6F6;
  --white-bg: #FFFFFF;
  /* background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) no-repeat; */  
  /*delete gradient from bg?*/
  scroll-behavior: smooth;
}

.validator{
  display: none;
}

button{
  cursor: pointer;
  transition: .3s;
}

/*header*/

.header{
  /* width: 1280px; */
  margin: 0 auto;
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), url(../../assets/images/noise_transparent@2x.png);
}
.wrap{
  margin: 0 auto;
  width: 1200px;
  padding-left: 2px;
}

ul{
  list-style-type: none;
}
li{
  margin-left: 32px;
  display: inline;
}
a{
  text-decoration: none;
  color: inherit;
  transition: .3s;
}

/*a:not(:active):hover{
  cursor: pointer;
}*/

.main_menu{
  padding-top: 60px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.main_title{
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: var(--color-primary);
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}
.main_title_text{
  margin: 0 auto;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.nav_text{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.active_link{
  cursor: default;
  display: inline-block;
  border-bottom: 3px solid #F1CDB3;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #FAFAFA;
}

.nav_text:hover{
  color: #FAFAFA;
}
.nav_text:active{
  cursor: default;
  display: inline-block;
  border-bottom: 3px solid #F1CDB3;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #FAFAFA;
  transition: .5s;
}

/*not only*/
.section_not_only{
  /*height: 728px;*/
  /*margin-bottom: 80px;*/
}
.inside_wrap_not_only{
  display: flex;
  /*flex-direction: row;*/
  /*flex-wrap: nowrap;*/
}

.main_text_not_only{
  /* display: flex; */
  flex-direction: column;
  width: 460px;
  height: 322px;
  margin-right: 39px;
}

.not_only_title{
  margin-top: 165px;
  /* margin-left: 2px; */
  margin-bottom: 40px;
  width: 310px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.not_only_main{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #CDCDCD;
  margin-bottom: 43px;
  /* margin-right: 30px; */
}

.puppy{
  background: url(../../assets/images/start-screen-puppy.png) no-repeat;
  width: 698px;
  height: 728px;
}

.make_a_friend{
  display: block;
  width: 207px;
  height: 52px;
  background: var(--color-primary);
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-align: center;
}

.make_a_friend:hover{
  background-color: #FDDCC4;
}

.make_a_friend_text{
  padding-top: 14px;
}

/*about*/

main{
  margin: 0 auto;
  /* width: 1280px; */
}

.about_bg{
  height: 508px;
  background: #FFFFFF;
  padding-top: 80px;
}
.wrap_about{
  width: 850px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.pets{
  width: 300px;
  height: 408px;
  background: url(../../assets/images/about-pets.png);
}
.about_content{
  width: 430px;
}
.about_content_title{
  width: 370px;
  margin-top: 13px;
  margin-bottom: 25px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.abouy_content_text{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #4C4C4C;
  margin-bottom: 25px;
}

/*pets*/

.section_pets{
  height: 797px;
  background: #F6F6F6;
  padding-top: 80px;
}

.inside_section_pets{
  margin: 0 auto;
  width: 1200px;
  height: 697px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_pets_title{
  /* width: 400px; */
  /* display: flex; */
  flex-direction: column;
  /* align-items: center; */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  white-space: nowrap;
  margin-bottom: 59px;
}

.section_pets_titles_styles{
  margin-top: 0;
  margin-bottom: 0px;
}

.slider{
  width: 1200px;
  height: 435px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.arrow_pets{
  padding: 0;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 25px;
}

.arrow_pets:hover{
  background: #FDDCC4;
}

/*card*/

.card{
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
}

.card:hover{
  background: #FFFFFF;
}

.card:hover .card_button{
  background: #FDDCC4;
}
  


.image{
  margin-bottom: 6px;
}

.card_title{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 30px;
}

.card_button{
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: #FAFAFA;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.card_button:hover{
  background: #FDDCC4;
}

.cards{
  margin: 0 auto;
  width: 990px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button_pets{
  display: block;
  padding-top: 17px;
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border: #F1CDB3;
  border-radius: 100px;
  text-align: center;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.button_pets:hover{
  background-color: #FDDCC4;
}

/*section help*/

.help{
  background: #FFFF;
}

.wrap_help{
  height: 611px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.help_main_title{
  display: flex;
  flex-direction: column;
  padding-top: 79px;
  padding-bottom: 63px;
}

.help_title{
  margin: 0 auto;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.rows{
  display: flex;
  margin: 0 auto;
  padding-bottom: 24px;
}

.help_item_title{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.help_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 61px;
}

.help_item_ico{
  width: 60px;
  height: 60px;
}


/*addition*/

.addition{
  background-color: var(--grey-bg);
}

.addition_container{
  width: 915px;
  margin: auto;
  display: flex;
  padding-top: 78px;
  padding-bottom: 89px;
}

.addition_main_content{
  padding-left: 31px;
}

.donation_dog_image{
  padding-top: 15px;
}

.addition_main_content_title{
  width: 300px;
  /* margin: 0; */
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.bank{
  margin-top: 23px;
  margin-bottom: 19px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.bank_card{
  width: 349px;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
}

.bank_card:hover{
  background: #FDDCC4;
}

.card_ico{
  width: 30px;
  height: 23px;
  margin: auto 15px;
}

.card_number{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.addition_main_conten_main_text{
  margin-top: 19px;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #B2B2B2;
}

/*footer*/

.footer{
  /* width: 1280px; */
  /*margin: 0 auto;*/
  /*background-image: url(../../assets/images/noise_transparent@2x.png);*/
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), url(../../assets/images/noise_transparent@2x.png);
}

.footer_container{
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 130px;
}

.footer_title{
  margin-top: 14px;
  margin-bottom: 35px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer_text{
  margin-top: 6px;
  margin-bottom: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.email{
  display: flex;
}

.email:hover .footer_text{
  color: #FAFAFA;
}

.email:hover .email_image{
  filter: brightness(0) invert(1);
}

.email_image{
  margin-right: 17px;
}



.boston{
  margin-top: 0;
  margin-bottom: 8px;
}

.phone{
  margin-top: 48px;
}

.footer_pet{
  padding-left: 24px;
}

.london{
  margin-top: 27px;
}